#Question : 01

Given a list of numbers, create a function that removes 25% from every
number in the list except the smallest number, and adds the total amount
removed to the smallest number.

Examples

show_the_love([4, 1, 4]) ➞ [3, 3, 3]

show_the_love([16, 10, 8]) ➞ [12, 7.5, 14.5]

show_the_love([2, 100]) ➞ [27, 75]

In [5]:
def show_the_love(values):
    minimum = min(values)
    sum=0
    for i in range(len(values)):
        remove = 0
        if values[i] != minimum:
            remove = values[i]*0.25
            values[i] = values[i] - remove
            sum+=remove
    else:
        x = values.index(minimum)
        values[x] = values[x]+sum
    return values

In [6]:
show_the_love([4, 1, 4])

[3.0, 3.0, 3.0]

In [7]:
show_the_love([16, 10, 8])

[12.0, 7.5, 14.5]

In [8]:
show_the_love([2, 100])

[27.0, 75.0]

#Question : 02

Create a function that takes in two words as input and returns a list of three
elements, in the following order:

1.Shared letters between two words.

2.Letters unique to word 1.

3.Letters unique to word 2.

Each element should have unique letters, and have each letter be
alphabetically sorted.

Examples

letters("sharp", "soap") ➞ ["aps", "hr", "o"]

letters("board", "bored") ➞ ["bdor", "a", "e"]

letters("happiness", "envelope") ➞ ["enp", "ahis", "lov"]

letters("kerfuffle", "fluffy") ➞ ["flu", "ekr", "y"]

* Even with multiple matching letters (e.g. 3 f&#39;s), there should
* only exist a single "f" in your first element.

letters("match", "ham") ➞ ["ahm", "ct", ""]

* "ham" does not contain any letters that are not found already
* in "match".

In [46]:
def letters(word_1,word_2):
    shared = []
    unique_to_1 = []
    unique_to_2 = []
    Ans = ""
    Ans1 = ""
    Ans2 = ""
    for i in word_1:
        if i in word_2 and i not in shared:
            shared.append(i)
        elif i not in word_2 and i not in unique_to_1:
            unique_to_1.append(i)
    for i in word_2:
        if i not in word_1 and i not in unique_to_2:
            unique_to_2.append(i)
    for i in shared :
        Ans += i + " "
    for j in unique_to_1:
        Ans1 += j + " "
    for k in unique_to_2:
        Ans2 +=k + " "
    return [Ans,Ans1,Ans2]

In [47]:
letters("sharp", "soap")

['s a p ', 'h r ', 'o ']

In [48]:
letters("board", "bored")

['b o r d ', 'a ', 'e ']

In [49]:
letters("happiness", "envelope")

['p n e ', 'h a i s ', 'v l o ']

#Question : 03

Write a function that pairs the first number in an array with the last, the
second number with the second to last, etc.

Examples

pairs([1, 2, 3, 4, 5, 6, 7]) ➞ [[1, 7], [2, 6], [3, 5], [4, 4]]

pairs([1, 2, 3, 4, 5, 6]) ➞ [[1, 6], [2, 5], [3, 4]]

pairs([5, 9, 8, 1, 2]) ➞ [[5, 2], [9, 1], [8, 8]]

pairs([]) ➞ []

In [55]:
def pairs(values):
    Ans = []
    if len(values)%2==0:
        for i in range(len(values)//2):
            pair = []
            pair.append(values[i])
            pair.append(values[-1-i])
            Ans.append(pair)
    else:
        for i in range((len(values)//2)+1):
            pair = []
            if i==len(values)//2:
                pair.append(values[i])
                pair.append(values[i])
                Ans.append(pair)
                break
            else:
                pair.append(values[i])
                pair.append(values[-1-i])
                Ans.append(pair)
    return Ans

In [56]:
pairs([1, 2, 3, 4, 5, 6, 7])

[[1, 7], [2, 6], [3, 5], [4, 4]]

In [57]:
pairs([1, 2, 3, 4, 5, 6])

[[1, 6], [2, 5], [3, 4]]

In [58]:
pairs([5, 9, 8, 1, 2])

[[5, 2], [9, 1], [8, 8]]

In [59]:
pairs([])

[]

#Question : 04

Write a function that adds two numbers. The catch, however, is that the
numbers will be strings.

Examples

add_str_nums("4", "5") ➞ "9"

add_str_nums("abcdefg", "3") ➞ "-1"

add_str_nums("1", "") ➞ "1"

add_str_nums("1874682736267235927359283579235789257",
"32652983572985729") ➞ "1874682736267235927391936562808774986"

In [29]:
#code
def add_str_nums(val1,val2):
    if val1.isnumeric() and val2.isnumeric():
        Ans = int(val1) + int(val2)
    elif val1.isnumeric()==True and val2.isnumeric()==False :
        Ans = int(val1)
    elif val1.isnumeric()==False and val2.isnumeric()==True :
        Ans = int(val2)
    else:
        return -1
    return Ans

In [30]:
add_str_nums("4", "5")

9

In [31]:
add_str_nums("abcdefg", "3")

3

In [32]:
add_str_nums("1", "")

1

In [34]:
add_str_nums("1874682736267235927359283579235789257","32652983572985729")

1874682736267235927391936562808774986

#Question : 05

lPaeesh le pemu mnxit ehess rtnisg! Oh, sorry, that was supposed to say:
Please help me unmix these strings!

Somehow my strings have all become mixed up; every pair of characters has
been swapped. Help me undo this so I can understand my strings again.

Examples

unmix("123456") ➞ "214365"

unmix("hTsii s aimex dpus rtni.g") ➞ "This is a mixed up string."

unmix("badce") ➞ "abcde"

In [111]:
def unmix(data):
    Ans = []
    flag = 0
    Final=""
    for i in data:
        Ans.append(i)
    if len(data)%2!=0:
        flag = 1
        Ans.append(data[-1])
    for i in range(len(Ans)):
        if i%2!=0:
            Ans[i],Ans[i-1]=Ans[i-1],Ans[i]
    if flag==1:
        Ans.pop()
    for i in Ans:
        Final+=i
    
    return Final

In [112]:
unmix("123456")

'214365'

In [116]:
unmix("hTsii  s a  imex dpus rtni.g")

'This is a   mixed up string.'

In [114]:
unmix("badce")

'abcde'