#Question : 01

Create a function that takes a list and string. The function should remove
the letters in the string from the list, and return the list.

Examples

remove_letters(["s", "t", "r", "i", "n", "g", "w"], "string") ➞ ["w"]

remove_letters(["b", "b", "l", "l", "g", "n", "o", "a", "w"], "balloon") ➞ ["b", "g","w"]

remove_letters(["d", "b", "t", "e", "a", "i"], "edabit") ➞ []

In [42]:
#code
def remove_letters(letters,string):
    for i in string:
        if i in letters:
            letters.remove(i)
    return letters

In [43]:
remove_letters(["s", "t", "r", "i", "n", "g", "w"], "string")

['w']

In [44]:
remove_letters(["b", "b", "l", "l", "g", "n", "o", "a", "w"], "balloon")

['b', 'g', 'w']

In [45]:
remove_letters(["d", "b", "t", "e", "a", "i"], "edabit")

[]

#Question : 02

A block sequence in three dimensions. We can write a formula for this one

Create a function that takes a number (step) as an argument and returns the
amount of blocks in that step.

Examples

blocks(1) ➞ 5

blocks(5) ➞ 39

blocks(2) ➞ 12

In [66]:
#code
def blocks(value):
    mul=value*3
    mul+=2
    sum=0
    if value>=2:
        for i in range(2,value+1):
            sum+=i+2
    return mul+sum

In [67]:
blocks(1)

5

In [68]:
blocks(5)

39

In [69]:
blocks(2)

12

In [70]:
blocks(3)

20

#Question : 03

Create a function that subtracts one positive integer from another, without
using any arithmetic operators such as -, %, /, +, etc.

Examples

my_sub(5, 9) ➞ 4

my_sub(10, 30) ➞ 20

my_sub(0, 0) ➞ 0

In [114]:
#code
def my_sub(x,y):
    while (y != 0):
        borrow = (~x) & y
        x = x ^ y
        y = borrow << 1
    return x

In [133]:
#other method
def my_sub(x,y):
    A=[]
    B=[]
    count=0
    for i in range(1,y+1):
        A.append(i)
    for j in range(1,x+1):
        B.append(j)
    for k in A:
        if k not in B:
            count+=1
    return count

In [134]:
my_sub(5, 9)

4

In [135]:
my_sub(10, 30)

20

#Question : 04

Create a function that takes a string containing money in dollars and
pounds sterling (seperated by comma) and returns the sum of dollar bills only,
as an integer.

For the input string:

    - Each amount is prefixed by the currency symbol: $ for dollars and £ for pounds.

        - Thousands are represented by the suffix k.

i.e. $4k = $4,000 and £40k = £40,000

Examples

add_bill("d20,p40,p60,d50") ➞ 20 + 50 = 70

add_bill("p30,d20,p60,d150,p360") ➞ 20 + 150 = 170

add_bill("p30,d2k,p60,d200,p360") ➞ 2 * 1000 + 200 = 2200

In [105]:
def add_bill(bill):
    dollar_bills = []
    sum=0
    Bill = bill.split(",")
    for i in Bill:
        if i[0]=="d":
            if "k" not in i:
                x = i[1:]
                dollar_bills.append(int(x))
            else:
                x = i[1:len(i)-1]
                y = (int(x))*1000
                dollar_bills.append(y)
    for i in dollar_bills:
        sum+=i
    return sum

In [106]:
add_bill("d20,p40,p60,d50")

70

In [107]:
add_bill("p30,d20,p60,d150,p360")

170

In [108]:
add_bill("p30,d2k,p60,d200,p360")

2200

#Question : 05

Create a function that flips a horizontal list into a vertical list, and a vertical
list into a horizontal list.

In other words, take an 1 x n list (1 row + n columns) and flip it into a n x 1 list
(n rows and 1 column), and vice versa.

Examples

flip_list([1, 2, 3, 4]) ➞ [[1], [2], [3], [4]]

* Take a horizontal list and flip it vertical.

flip_list([[5], [6], [9]]) ➞ [5, 6, 9]

* Take a vertical list and flip it horizontal.

flip_list([]) ➞ []

In [111]:
#Code
def flip_list(val):
    Ans=[]
    for i in val:
        if type(i) == list:
            Ans.append(i[0])
        else:
            x =[]
            x.append(i)
            Ans.append(x)
    return Ans

In [112]:
flip_list([1, 2, 3, 4])

[[1], [2], [3], [4]]

In [113]:
flip_list([[5], [6], [9]])

[5, 6, 9]