#Question : 01

Create a function to perform basic arithmetic operations that includes
addition, subtraction, multiplication and division on a string number (e.g. "12 +
24" or "23 - 21" or "12 // 12" or "12 * 21").

Here, we have 1 followed by a space, operator followed by another space
and 2. For the challenge, we are going to have only two numbers between 1
valid operator. The return value should be a number.
                                                                       
eval() is not allowed. In case of division, whenever the second number equals
"0" return -1.
                                                                       
For example:
                                                                       
"15 // 0" ➞ -1
                                                                       
Examples
                                                                       
arithmetic_operation("12 + 12") ➞ 24 // 12 + 12 = 24
                                                                       
arithmetic_operation("12 - 12") ➞ 24 // 12 - 12 = 0
                                                                       
arithmetic_operation("12 * 12") ➞ 144 // 12 * 12 = 144
                                                                       
arithmetic_operation("12 // 0") ➞ -1 // 12 / 0 = -1

In [18]:
#code
def arithmetic():
    try:
        s=input("Enter the string expresssion : ")
        if len(s.split())==3:
            k=s.split()
            for i in range(1,len(k)+1):
                if i%2!=0:
                    if k[i-1].isdigit():
                        continue
                    else:
                        raise Exception(".....ENTER A VALID STRING AS SUGGESTED.....")
    except Exception as e:
        print(e)
    try:
        a=int(k[0])
        b=int(k[2])
        if k[1]=="+":
            print("Summation value is : ",end="")
            print(a+b)
        elif k[1]=="-":
            print("Subtraction value is : ",end="")
            print(a-b)
        elif k[1]=="*":
            print("Multiplication value is : ",end="")
            print(a*b)
        elif k[1]=="//":
            print("Division value is : ",end="")
            print(a/b)
        else:
            print("Use any valid operation.")
    except Exception as e:
        print(e)

arithmetic()

Enter the string expresssion : 12 + 23
Summation value is : 35

#Question : 02

Write a function that takes the coordinates of three points in the form of a
2d array and returns the perimeter of the triangle. The given points are the
vertices of a triangle on a two-dimensional plane.

Examples

perimeter( [ [15, 7], [5, 22], [11, 1] ] ) ➞ 47.08

perimeter( [ [0, 0], [0, 1], [1, 0] ] ) ➞ 3.42

perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] ) ➞ 68.28

In [28]:
#code
from math import sqrt
def value():
    try:
        N=[]
        for i in range(3):
            n=[]
            for i in range(2):
                num=input(f"Enter the {i+1} number : ")
                if num.isdigit():
                    n.append(int(num))
                else:
                    raise numer("Enter numbers")
            N.append(n)
    except numer as e:
        print(e)
    return N
def perimeter(triangle):
    a=sqrt((abs(triangle[1][1]-triangle[0][1])**2)+(abs(triangle[1][0]-triangle[0][0])**2))
    b=sqrt((abs(triangle[2][1]-triangle[1][1])**2)+(abs(triangle[2][0]-triangle[1][0])**2))
    c=sqrt((abs(triangle[2][1]-triangle[0][1])**2)+(abs(triangle[2][0]-triangle[0][0])**2))
    print(round(a+b+c,2))
            
x=value()
perimeter(x)

Enter the 1 number : 15
Enter the 2 number : 7
Enter the 1 number : 5
Enter the 2 number : 22
Enter the 1 number : 11
Enter the 2 number : 1
47.08

#Question : 03

A city skyline can be represented as a 2-D list with 1s representing
buildings. In the example below, the height of the tallest building is 4 (second-
most right column).

[[0, 0, 0, 0, 0, 0],
 
[0, 0, 0, 0, 1, 0],
 
[0, 0, 1, 0, 1, 0],
 
[0, 1, 1, 1, 1, 0],

[1, 1, 1, 1, 1, 1]]

Create a function that takes a skyline (2-D list of 0&#39;s and 1&#39;s) and returns the
height of the tallest skyscraper.
                                        
Examples
                                        
tallest_skyscraper([
    
[0, 0, 0, 0],

[0, 1, 0, 0],

[0, 1, 1, 0],

[1, 1, 1, 1]

]) ➞ 3

tallest_skyscraper([

[0, 1, 0, 0],

[0, 1, 0, 0],

[0, 1, 1, 0],

[1, 1, 1, 1]

]) ➞ 4

tallest_skyscraper([

[0, 0, 0, 0],

[0, 0, 0, 0],

[1, 1, 1, 0],

[1, 1, 1, 1]

]) ➞ 2

In [2]:
#code
def tallest_skyscraper(height):
    check=len(height)
    i=0
    while(i!=check):
        if 1 in height[i]:
            return check-i
        else:
            i+=1

In [4]:
tallest_skyscraper([[0, 0, 0, 0],
[0, 1, 0, 0],
[0, 1, 1, 0],
[1, 1, 1, 1]])

3

In [5]:
tallest_skyscraper([[0, 1, 0, 0],
[0, 1, 0, 0],
[0, 1, 1, 0],
[1, 1, 1, 1]])

4

In [6]:
tallest_skyscraper([[0, 0, 0, 0],
[0, 0, 0, 0],
[1, 1, 1, 0],
[1, 1, 1, 1]])

2

# Question : 04

A financial institution provides professional services to banks and claims
charges from the customers based on the number of man-days provided.
Internally, it has set a scheme to motivate and reward staff to meet and
exceed targeted billable utilization and revenues by paying a bonus for each
day claimed from customers in excess of a threshold target.

This quarterly scheme is calculated with a threshold target of 32 days per
quarter, and the incentive payment for each billable day in excess of such
threshold target is shown as follows:
    
Days                  Bonus

0 to 32 days          Zero

33 to 40 days         SGD$325 per billable day

41 to 48 days         SGD$550 per billable day

Greater than 48 days  SGD$600 per billable day

Please note that incentive payment is calculated progressively. As an
example, if an employee reached total billable days of 45 in a quarter, his/her
incentive payment is computed as follows:
    
32*0 + 8*325 + 5*550 = 5350

Write a function to read the billable days of an employee and return the bonus
he/she has obtained in that quarter.

Examples

bonus(15) ➞ 0

bonus(37) ➞ 1625

bonus(50) ➞ 8200

In [24]:
#code
def bonus(days):
    money=0
    if days>0: 
        for i in range(1,days+1):
            if (i>=0 and i<=32):
                continue
            if(i>=33 and i<=40):
                money+=1*325
            elif(i>=41 and i<=48):
                money+=1*550
            else:
                money+=1*600
    return money

In [25]:
bonus(15)

0

In [26]:
bonus(37)

1625

#Question : 05

A number is said to be Disarium if the sum of its digits raised to their
respective positions is the number itself.

Create a function that determines whether a number is a Disarium or not.

Examples

is_disarium(75) ➞ False

# 7^1 + 5^2 = 7 + 25 = 32

is_disarium(135) ➞ True

# 1^1 + 3^2 + 5^3 = 1 + 9 + 125 = 135

is_disarium(544) ➞ False

is_disarium(518) ➞ True

is_disarium(466) ➞ False

is_disarium(8) ➞ True

In [38]:
#code
def is_disarium(value):
    val=str(value)
    ans=0
    for i in range(len(val)):
        ans+=int(val[i])**(i+1)
    if ans==value:
        return True
    else:
        return False

In [39]:
is_disarium(544)

False

In [40]:
is_disarium(518)

True

In [41]:
is_disarium(466)

False

In [42]:
is_disarium(8)

True